
.flex,.flexi,.flexible {
  display:flex
};
.flex-auto,.flexi-auto,.flexible-auto {
  flex:auto
};
.flex-row,.flexi-row,.flexible-row {
  flex-direction:row
};
.flex-row-or-column,.flexi-row-or-column,.flexible-row-or-column {
  flex-direction:row
};
.flex-row-reverse,.flexi-row-reverse,.flexible-row-reverse {
  flex-direction:row-reverse
};
.flex-column-reverse,.flexi-column-reverse,.flexible-column-reverse {
  flex-direction:column-reverse
};
.flex-column,.flexi-column,.flexible-column {
  flex-direction:column
};
.flex-column-or-row,.flexi-column-or-row,.flexible-column-or-row {
  flex-direction:column
};
.flex-center-content,.flexi-center-content,.flexible-center-content {
  justify-content:center
};
.flex-normal,.flexi-normal,.flexible-normal {
  flex-grow:1;
flex-shrink:1
};
.flex-space,.flexi-space,.flexible-space {
  flex-shrink:1;
content:'';
flex-grow:1
};
.flex-grow,.flexi-grow,.flexible-grow {
  flex-grow:2
};
.flex-shrink,.flexi-shrink,.flexible-shrink {
  flex-shrink:2
};
.flex-fit,.flexi-fit,.flexible-fit {
  flex-basis:fit-content
};
.flex-min,.flexi-min,.flexible-min {
  flex-basis:min-content
};
.flex-max,.flexi-max,.flexible-max {
  flex-basis:max-content
};
@media (max-width: 960px) {
  .flex,.flexi,.flexible-column-or-row {
  flex-direction:row
};
.flex,.flexi,.flexible-row-or-column {
  flex-direction:column
}
}
  
